.about{
    width:100%;
    height:100vh;

}
.aboutp{
    text-align: justify;
    text-justify: inter-word;
    color: rgb(182, 120, 248) ;
    font-family: 'Lucida Console';
    text-shadow: 2px 2px 4px #ffffff,
}
.about h1{
    border-bottom: 1px solid;
    color: rgb(255, 255, 255) ;
    font-family: 'Lucida Console';
    text-shadow: 2px 2px 4px #ffffff,
}