.signup{
    width: 100%;
    height: 100vh;

}
.column{
    height: 100vh;
}
.input-signup{
    outline: none;
}
.sign-up-heading{
    font-size: 70;
    font-family: 'Lucida Console';
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 2px #ffffff;
}
.col-left{
    border-left: 1 px solid #ffffff ;
    opacity: 0.8;

}
.btn-signup{
    background-color:rgb(182, 120, 248) ;
    border-radius: 10px;
    font-family: 'Lucida Console';
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    text-shadow: 2px 2px 2px #ffffff;
    outline: none;
    border : none
    
}
